<nav class="uk-navbar-container" uk-navbar>
  <a class="uk-navbar-item uk-logo" routerLink="/">Logo</a>
    <div class="uk-navbar-left">

        <ul class="uk-navbar-nav">
            <li>
                <a href="#">Client</a>
                <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a routerLink="/lawyerlisting">Lawyer Listing</a></li>
                        <li><a routerLink="/lawyerdetail">Lawyer Detail</a></li>
                        <li><a href="#">Item</a></li>
                    </ul>
                </div>
            </li>
            <li><a routerLink="/lawyer">Lawyer</a></li>
            <li><a routerLink="/admin">Admin</a></li>
        </ul>

    </div>
</nav>